@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-anek: Anek Malayalam, "sans-serif";
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #03e6ff;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00acc1;
}
